
* {
  font-family: 'Times New Roman', Times, serif;
}

/* Header CSS */
.header-img {
  margin: 30px;
}
.header-logo {
  width: 200px;
}
.main-content {
  background-color: #F5F9FA;
  padding: 50px;
  height: 170vh;
  border-radius: 20px;
}
.header-content {
  margin: 50px ;
  font-size: 1.5rem;
  font-weight: bolder;
}
.about-image {
  margin: 50px;
  width: 300px;
}

/*Header CSS End */

.bar-card {
  background-color: #ffff;
  height: 100px;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px grey;
}

.search-content {
  padding: 10px 
}
.search-button {
  margin-top: 15px;
  background-color: #1E3B51;
  border-radius: 5px;
  height: 40px;
  width: 100px;
  text-align: center;
}

.search-button:hover {
  background-color: #1e3b51;
}
.search-button:active {
  background-color: #1E3B51;
}

.news-content-card {
  background-color: #ffff;
  height: 300px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px grey;
}
.news-img {
  width: 300px;
}


/* Mobile Screen */
@media only screen and (max-width: 768px) {
  .bar-card {
    height: 250px;
  }
  .news-content-card {
    height: 580px;
  }
}